*{
    margin: 0;
    padding: 0;
    transition: all .1s ease-in;
}
html{
    height: 100%;
    
}
body{
    background-color: #3399cc;
    border: 20px solid #2b81ac;
    color: #FFF;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;   
    text-decoration: none;
}
container{
    display: block;
    margin: 0 auto;
    max-width: 60%;
}
main{
    max-width: 100%;
}
header{
    padding: 8% 0 3%;
}
h1{
    font-weight: 500;
    font-size: 26px;
    text-transform: capitalize;
}
footer {
    margin: 20px 0;
    font-size: 17px;
}
.city{
    list-style-type: none;
    font-size: 0;
    border: 2px solid #FFF;
    background-color: #FFF;
}
.city li{
    display: inline-block;
    font-size: 20px;
    border: 2px solid #FFF;
    text-align: center;
    padding: 20px 0;
    margin: -2px;
}
li:hover {
    opacity: .6;
    color: #000;
}
.city li:nth-child(11n+1){
    background-color: #39c;
}
.city li:nth-child(11n+2){
    background-color: #33cccc;
}
.city li:nth-child(11n+3){
    background-color: #996699;
}
.city li:nth-child(11n+4){
    background-color: #c24747;
}
.city li:nth-child(11n+5){
    background-color: #e2674a;
}
.city li:nth-child(11n+6){
    background-color: #ffcc66;
}
.city li:nth-child(11n+7){
    background-color: #99cc99;
}
.city li:nth-child(11n+8){
    background-color: #669999;
}
.city li:nth-child(11n+9){
    background-color: #cc6699;
}
.city li:nth-child(11n+10){
    background-color: #339966;
}
.city li:nth-child(11n){
    background-color: #666699;
}
.city li.one{
    width: 25%;
}
.city li.two{
    width: 50%;
}
.city li.four{
    width: 100%;
}